script(data-ad-client=theme.google_adsense.client, async, src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')

<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
<!-- 方形广告 -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1635316807116619" data-ad-slot="1470583202" data-ad-format="auto"data-full-width-responsive="true"></ins>


<!--feed信息流广告-->
<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-gw-3+1f-3d+2z" data-ad-client="ca-pub-1635316807116619" data-ad-slot="8167853497"></ins>

<!--文章广告-->
<ins class="adsbygoogle"style="display:block; text-align:center;"data-ad-layout="in-article"data-ad-format="fluid"data-ad-client="ca-pub-1635316807116619"data-ad-slot="8714648409"></ins>

<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>